*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore
*.jks
# Keep google-services.json out of version control if you fork this publicly
